<body>
  <section id="infos">
  <h1>toDo list</h1>
  <p id="explicationText"> 
    Seja uma pessoa mais organizada registrando seus afazeres do dia a dia com o novo site toDo list.
  </p>
  </section>
  <div id="photo">
    <img id="imagePerfil" src="./users/{{img}}" height="198px" width="198px">
  </div>
  <section id="form">
    <form method="post" id="post">
      <div>
        <label for="email" class="label">Email</label>
        <input class="text" type="email" name="email" placeholder="nome@exemplo.com" id="email">
      </div>
      <div>
        <label for="inputPassword" class="label">Senha</label>
        <input class="text" type="password" name="senha" placeholder="senha" id="password">
      </div>
      {{#if noLogin}}
        <p id="wrongMessage">Senha ou Email incorretos</p>
      {{/if}}
      <div>
        <input type="submit" name="loggar" class="button" value="Login" id="loggar">
      </div>
    </form>
      <div id="criarConta">
        <button data-target="div-hidden" role="button" id="createLogin">Criar conta</button>
      </div>
  </section>
  <dialog id="inputArea">
      <div>
      <button class="exclusion" id="close">
        <img src="./images/botaomenos.svg" alt="excluir atividade" onmouseover="buttonX()" onmouseout="buttonMenos()" id="imgClose">
      </but>
      </div>
      <h2>Criar login</h2>
      <form action="/login/newUser" method="post" id="create">
    <div>
        <label for="nome" class="label">Nome</label>
        <input class="text" type="text" name="nome" placeholder="Jhon Doe">
    </div>
    <div>
      <label for="email" class="label">Email</label>
      <input class="text" type="email" name="email" placeholder="nome@exemplo.com">
    </div>
    <div>
      <label for="senha" class="label">Senha</label>
      <input class="text" type="password" name="senha" placeholder="senha">
    </div>
    <div>
      <input type="submit" class="button" value="Criar" id="createUser">
    </div>
    </form>
  </dialog>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='/js/loggar.js'></script>
