<body>
  <section id="infos">
  <h1>toDo list</h1>
  <p> sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
    {{!-- <img src="fotoperfil.jpeg"> --}}
  <section id="form">
  <form action="/login" method="POST">
    <div>
      <label for="email" class="label">Email</label>
      <input class="text" type="email" name="email" placeholder="nome@exemplo.com">
    </div>
    <div>
      <label for="inputPassword" class="label">Senha</label>
      <input class="text" type="password" name="senha" placeholder="senha">
    </div>
    <div>
    <input type="submit" class="button" value="login">
    </div>
    </form>
  </section>
</body>