<body>
  <section id="infos">
  <h1>toDo list</h1>
  <p> sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
   {{!-- <img src="./images/fotoperfil.jpeg" width="460" height="345"> --}}
  <section id="form">
  <form action="/login/" method="POST">
    <div>
      <input class="text" type="email" name="email" placeholder="nome@exemplo.com">
    </div>
    <div>
      <label for="inputPassword" class="label">Senha</label>
      <input class="text" type="password" name="senha" placeholder="senha">
    </div>
    <div>
    <input type="submit" id="botton" value="login"></input>
    </div>
    </form>
  </section>
</body>