<body>
    <div id="background">
    <div>
        <div id="close">
            <a href="/login">
                <img src="./images/botaovoltar.svg">
            </a>
        </div>
        <div id="content">
            <h1>Código de autenticação</h1>
            <span id="text">Um código de autenticação de 13 dígitos será enviado para seu e-mail.</span>
            <input type="text" id="codigo" placeholder="d0f46329c8e85">
            <input type="button" id="button" value="Confirmar">
        </div>
        </div>
</body>
{{!-- <script src="./js/token.js"></script> --}}