*{
    margin:0;
    padding:0;
    outline: unset;
}
input {
    all: unset;
}
/* titulo */
h1 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    color: #fff;
    font-size: 96px;
    margin-left: 12px;
    margin-right: 12px;
}

/* paragrafo de explicação */
p{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content:stretch;
    color: #fff;
    font-size: 24px;
    margin-top: 95px;
}
/* posicionamento do quadrado verde */
.infos{ box-sizing: border-box; }
#infos{
    flex-direction: column;
    float: left;
    width: 40%;
    padding-top: 143px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 400px;
    border-radius: 0px 36px 36px 0px;
    background: #859876;
}
/* etiqueta dos inputs */
label{
    color: #D9D9D9;
    font-family: Roboto;
    margin-left: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
}
/* espaço para escrever o email e a senha, posicionando a direita*/
#form{
    display: flex;
    float: right;
    padding-top: 20%;
    padding-right: 106px;
}
/* deixando eles alinhados em coluna */
#form div{
    flex-direction: column;
    margin-bottom: 72px;
}
/* estilizando o submit de texto */
input.text{
    width: 560px;
    height: 54px;
    padding-left: 32px;
    padding-top: 13px;
    border-radius: 16px;
    margin-left: 40px;
    background: #D9D9D9;
}
/* estilizando o botão com o id botton */

input.button{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-top: 48px;
    margin-left: 204px;
    padding-left: 90px;
    align-items: center;
    height: 54px;
    width: 264px;
    border-radius: 41px;
    background: #859876;
    color: #D9D9D9;
    font-size: 32px;
    font-weight: 500;
    }

    input.button:hover{
        background-color: #212C14;
        
    }

input::placeholder{
color: #7B8476;
font-size: 32px;
font-weight: 200;
}

body {
    background: #373737;
}
